#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-family: "Roboto", "sans-serif";
}
/* body {
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ---------------------------------------------------------- */
/* ------------------------HEADER---------------------------- */
/* ---------------------------------------------------------- */

header {
  background-color: white;
  /* border-bottom: 1px solid black; */
  padding: 10px;
  display: flex;
  align-items: center;
}

.container {
  width: 1280px;
  margin: auto;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div img {
  height: 30px;
}
header > div img:hover {
  cursor: pointer;
}

header > div input {
  width: 590px;
  height: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
}
header > div input:hover {
  cursor: text;
}

header > div input:focus {
  outline: none;
}
header > div div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header > div button:hover {
  cursor: pointer;
}

header > div div button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  color: #2cb1ba;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

header div > button {
  font-size: 12px;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  color: white;
  background-color: #2cb1ba;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#logout {
  font-size: 12px;
  height: 30px;
  width: 115px;
  border: 1px solid #c2185a;
  color: white;
  background-color: #c2185a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* ----------------------------------------------------------- */
/* ------------------------- MODALS--------------------------- */
/* --------------------- LOGIN & SIGNUP----------------------- */

.backgroundmodal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: fixed;
  top: 20vh;
  left: 40vw;
  width: 20vw;
  height: 50vh;
  border-radius: 5px;
  background-color: white;
  z-index: 20;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* text-align: center; */
  /* display: flex;
  flex-direction: column; */
}

form h2 {
  /* text-align: center; */
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

form input {
  height: 25px;
  width: 70%;
  color: #757575;
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 10px auto;
}

#checkboxnewsletter {
  height: auto;
  width: auto;
  margin: auto;
  border: none;
}

form > button {
  font-size: 20px;
  height: 60px;
  width: 200px;
  border: 1px solid #2cb1ba;
  color: white;
  background-color: #2cb1ba;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

form > input:focus {
  outline: none;
}

form p {
  color: #2cb1ba;
  text-decoration: none;
}
form p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#loginmodalbutton {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ----------------------------------------------------------- */
/* -------------------------HOME------------------------------ */
/* ----------------------------------------------------------- */

.hero {
  display: flex;
  align-items: center;
  height: 450px;
  background-image: url(https://lereacteur-vinted.netlify.app/assets/hero-24963eb2.jpg);
  background-position: center;
  background-size: cover;
}

.hero .container > div {
  height: 220px;
  width: 360px;
  padding: 25px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #c6cfd2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.hero .container > div p {
  font-size: 32px;
}

.hero .container > div button {
  height: 45px;
  width: 187px;
  background-color: #2cb1ba;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

/* ----------------------------------------------------------- */
/* ---------------------HOME PHOTOS--------------------------- */
/* ----------------------------------------------------------- */

.homephotolist {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.homephotolist > div {
  background-color: white;
  width: calc((100% - 48px) / 5);
}

.avatarupper {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatarupper > img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.articlephoto {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.homephoto {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

.itemdescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.itemdescription p:first-child {
  color: black;
  font-size: 14px;
}

/* --------------------------------------------------------- */
/* ----------------------OFFER------------------------------ */
/* --------------------------------------------------------- */

.offerbackground {
  background-color: #ebedee;
  padding-top: 30px;
  min-height: calc(100vh - 60px);
}

.offerdiv {
  width: 1090px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
div.offerdiv > img:first-child {
  height: 600px;
  width: 450px;
  object-fit: cover;
}

.offerdiv > div {
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offerdiv > div > div > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.offerdetails {
  padding-bottom: 50px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}
.offerdetails p:first-child {
  font-size: 24px;
  margin-bottom: 30px;
  color: black;
  font-weight: 400;
}

.offerdetails p {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}

.offerdetails p span:first-child {
  font-weight: 400;
  color: #999999;
}

.name {
  font-weight: 700;
  margin: 20px 0;
}

.description {
  color: #666666;
}

.offerdiv button {
  margin: 0auto 0;
  height: 45px;
  width: auto;
  background-color: #2cb1ba;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
